# Insert your OpenAI API key here:
OPENAI_API_KEY=sk-....

# DRY_RUN = 1 means: don't send a request to OpenAI, simulate it with a lore-ipsum text.
DRY_RUN=0

# HTTP Basic auth simple protection
BASIC_AUTH_USER=<foo>
BASIC_AUTH_PASSWORD=<bar>
