fastapi==0.109.2
MarkupSafe
multidict
openai==1.6.1
openpyxl
platformdirs
pydantic
pydantic-settings
python-multipart
requests
starlette
uvicorn
virtualenv
Jinja2
Markdown
MarkupSafe
beautifulsoup4
python-dotenv
