fastapi
MarkupSafe
multidict
openai==1.14.1
openpyxl
platformdirs
pydantic
pydantic-settings
python-multipart
requests
starlette
tqdm==4.65.0
types-pytz==2023.3.0.0
typing_extensions==4.7.1
urllib3==2.0.4
wincertstore==0.2
yarl==1.9.2
uvicorn
virtualenv
Jinja2
Markdown
MarkupSafe
beautifulsoup4
python-dotenv
pytest
pytest-cov
pymupdf
python-multipart
