fastapi
multidict
openai
openpyxl
platformdirs
pydantic
pydantic-settings
python-multipart
requests
starlette
tqdm
types-pytz
typing_extensions
urllib3
wincertstore
yarl
uvicorn
virtualenv
Jinja2
Markdown
MarkupSafe
beautifulsoup4
python-dotenv
pytest
pytest-cov
pymupdf
python-multipart
